@keyframes expand {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
@keyframes slideFromBottom {
    from {
        opacity: 0;
        transform: translateY(60%);
    }
    to {
        opacity: 1;
        transform: translateY(0%)
    }

}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }

}