/* imports */
@import './animations.scss';
/* vars */
$main: #2D2D2D; 
$alt:white;
$border-color: rgba(255,255,255,0.3);
$orange-color:#FF5E00;
/* fonts */
@font-face {
    font-family: 'Helvetica Now Display';
    src: local('Helvetica Now Display Bold'), local('HelveticaNowDisplay-Bold'),
        url('../fonts/HelveticaNowDisplay-Bold.woff2') format('woff2'),
        url('../fonts/HelveticaNowDisplay-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: local('Helvetica Now Display Light'), local('HelveticaNowDisplay-Light'),
        url('../fonts/HelveticaNowDisplay-Light.woff2') format('woff2'),
        url('../fonts/HelveticaNowDisplay-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: local('Helvetica Now Display Regular'), local('HelveticaNowDisplay-Regular'),
        url('../fonts/HelveticaNowDisplay-Regular.woff2') format('woff2'),
        url('../fonts/HelveticaNowDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

#app {
    padding: 0;
    margin:0;
    width: 100%;
    height: 100vh;
.wrapper {
    display: grid;
    grid-template-columns: repeat(40, 1fr);
    grid-template-rows: repeat(15, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
    height: 100vh;   
    .titles { grid-area: 1 / 1 / 4 / 41; }
    .isTyping { grid-area: 15 / 2 / 16 / 31; }
    .messageBox { grid-area: 14 / 2 / 15 / 31; }
    .messageList { grid-area: 4 / 2 / 13 / 31; }
    .userList { grid-area: 5 / 32 / 15 / 40; }
    .animated-titles { grid-area: 5 / 2 / 15 / 41; }
    hr {
        animation:none;
    }
}
}
.disapear {
    animation: fadeOut 1s forwards cubic-bezier(.7,0,0,1);
    }
html, body {
    background-color:$main;
    font-family: 'Helvetica Now Display';
    padding: 0;
    margin:0;
    height: 100vh;
    overflow-y: hidden;
    scroll-behavior: smooth;
    color:$alt;
}
::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }
.animated-titles {
    .title-element {
        font-size: 8.5vw;
        font-weight: 300;
        margin:0;
        height: 20.5vh;
        overflow-y: hidden;
        position: relative;
        .title-value {
            position: absolute;
            top: 100%;
            &.animated {
                animation: slideTop 1s forwards cubic-bezier(1,0,.43,1);
            }
        .underlined {
            position: relative;

            &.animated {
                &:after {
                    position: absolute;
    
                    content:'';
                    animation: expand 1s forwards cubic-bezier(1,0,.43,1);
                }
            }
            &:after {
                position: absolute;

                content:'';
                bottom:-6px;
                height: 3px;
                left: 0;
                background-color: $orange-color;
                width:0%;
            }
        }
        }
        
    }
}
.titles {

    width: 100%;
    text-align: center;
    height: 100%;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    justify-content: center;
    hr {
        width: 100%;
        margin:0;
        border: 0;
        height: 1px;
        background-color: $border-color;
        animation: expand 1s forwards cubic-bezier(1,0,.43,1);
    }
    .titles-content {
        display: grid;
grid-template-columns: repeat(40, 1fr);
grid-template-rows: 1fr;
grid-column-gap: 0px;
grid-row-gap: 0px;
width: 100%;
overflow-y: hidden;

    }
    box-sizing: border-box;
    h1 {
        &.animated {
            animation: fadeFromBottom 1s forwards cubic-bezier(1,0,.43,1);
        }

        &:nth-child(1) {
            text-align: left;
            grid-area: 1 / 2 / 2 / 21; }
        &:nth-child(2) { text-align: right;
            grid-area: 1 / 21 / 2 / 40; }
        font-size: 8.5vw;
        font-weight: 300;
        color:$alt;
        margin:0;
        opacity: 0;
        transform: translateY(60%);
    }
}
.isTyping {
    display: flex;
    align-self: center;
    font-size: 12px;
    color: $border-color;
    font-weight: 300;
}

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
        .messageList {
            
            &.loading {
                opacity: 0;
            }
            overflow-y: scroll;
            display: flex;
            flex-direction: column;
            justify-content: center;
            
            .message {
                margin-bottom: 30px;
                &:last-child {
                    margin-bottom: 0;
                }
                border-left:1px solid $alt;
                padding-left: 12px;
                max-width: 70%;
                &.fromMe {
                    align-self:flex-end;
                    border:0;
                    padding-left: 0;
                    padding-right: 12px;
                    border-right: 1px solid $alt;
                    text-align: right;
                    .userInfos {
                        display: flex;
                        flex-direction: row-reverse;
                        strong {
                            margin-left: 0;
                        }
                    }
                }

                &:first-child {
                    margin-top: 30px;
                }
                .userInfos {
                    display: flex;
                    align-items: center;
                    strong {
                        font-size: 15px;
                    }
                }
                img {
                    margin-top: 12px;
                }
                p {
                    font-weight: 300;
                    word-break: break-word;
                }
                .gif {
                    width: 25vw;
                }
            }
        }
        .messageBox {
            display: flex;

            .messageInput {
                position: relative;
                box-sizing: border-box;
                width: 100%;
            border: 1px solid $border-color;
               height: 100%;
                .formActions {
                    position: absolute;
                    right: 0;
                    top: 0;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    padding:12px;
                    box-sizing: border-box;
                    width: 30%;
                    svg {
                        width: 22px;
                        height: 22px;
                    }
                    button{
                        box-sizing: border-box;
                        padding:0;
                        margin:0;
                        border:0;
                        background-color: transparent;
                        outline: 0;
                    }
                }
                input {
                    word-break: break-word;
                    width: 75%;
                    height: 100%;
                    box-sizing: border-box;
                    border:none;
                    background-color: transparent;
                    outline: none;
                    resize: none;
                    padding:20px;
                    font-family: 'Helvetica Now Display';
                    color:$alt;
                    display: flex;
                    line-height: 10px;
                    background-color: transparent;
                }
                button {
                    max-height: 22px;
                    transition:opacity 0.4s;
                    cursor: pointer;
                        &:hover {
                            opacity: 0.7;
                        }
                }
                .emoji-handle {
                    margin-right: 12px;
                    max-height: 22px;
                }
                .emoji-picker {
                    position: absolute;
                    top: -325px;
                    right: -1px;
                    width: 300px;
                    height: 300px;
                    overflow-y: scroll;
                    background-color: $main;
                    padding:12px;
                    border:1px solid $border-color;
                    input {
                        font-size: 16px;
                        font-family: 'Helvetica Now Display';
                        font-weight: 300;
                    }
                    h5 {
                        font-size: 16px;
                        font-weight: 300;
                        width: 100%;
                        margin:0;
                        margin-bottom: 8px ;
                    }
                    .emoji-groups {
                        width:100%;
                        display: flex;
                        flex-wrap: wrap;
                        padding-left: 24px;
                        box-sizing: border-box;
                    }
                    span {
                        padding:2px;
                        cursor: pointer;
                        transition:opacity 0.4s;
                        &:hover {
                            opacity: 0.7;
                        }
                    }
                }
                a {
                    max-height: 22px;
                    cursor: pointer;
                    transition:opacity 0.4s;
                        &:hover {
                            opacity: 0.7;
                        }
                }
                .gifWrapper {
                    max-height: 22px;
                }
                .foodWrapper {
                    svg{
                        width: 15px !important;
                    }
                    max-height: 22px;
                    margin-right: 12px;
                }
                .gifFinder {
                    margin-right: 12px;
                }
                .gifModal {
                    position: absolute;
                    top: -349px;
                    right: -1px;
                    width: 300px;
                    height: 300px;
                    overflow-y: scroll;
                    background-color: $main;
                    padding:24px;
                    border:1px solid $border-color;
                    input {
                        border-bottom: 1px solid $alt;
                        width: 100%;
                        font-size: 16px;
                        font-family: 'Helvetica Now Display';
                        font-weight: 300;
                        padding-left: 0;
                        height: auto;
                    }
                    button {
                        margin-left: 12px;
                        background-color:$alt;
                        padding:12px;
                    }
                    .gifList {
                        display: flex;
                        justify-content: space-between;
                        flex-wrap: wrap;
                        img {
                            margin-top: 12px;
                            width:calc(50% - 6px);
                            height: auto;
                            cursor: pointer;
                            transition:opacity 0.2s;
                            &:hover {
                                opacity: 0.4;
                            }
                        }
                    }
                    .send {
                        position: absolute;
                        width: 100%;
                        background-color: #56c497;
                        color: white;
                        bottom: 0;
                        left: -12px;
                    }
                }
                .foodNearbyModal {
                    position: absolute;
                    top: -300px;
                    right: -1px;
                    width: 300px;
                    height: 300px;
                    overflow-y: scroll;
                    background-color: $main;
                    border:1px solid $border-color;
                    box-sizing: border-box;
                    padding: 24px;
                    h2 {
                        font-size: 16px;
                    }
                    .closed {
                        color: $orange-color;
                    }
                    .address {
                        font-weight: 300;
                    }
                    .foodItem {
                        border-bottom: 1px solid $alt;
                        h3 {
                            font-weight: normal;
                            font-size: 16px;
                            text-decoration: underline;
                        }
                        &:last-child {
                            border:0;
                        }
                        svg {
                            width: 8px;
                            height: 8px;
                        }
                    }
                    .rate {
                        span {
                            margin-right: 4px;
                        }
                    }
                }
                
            }
            
        }
        .isTyping {
            font-size: 10px;
        }
    
        .userList {
            overflow-y: scroll;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: flex-end;
            flex-direction: column-reverse;
            .user {
                padding: 24px 0 24px 24px;
                width: 100%;
                border-bottom: 1px solid $border-color;
                
                .userInfos {
                    display: flex;
                    align-items: center;
                    span {
                        margin-left: 12px;
                        font-size: 15px;
                    }
                }
               
            }
        }
.login {
    .loginForm {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding:50px 0 0 180px;
        box-sizing: border-box;
        input {
            font-size: 6vw;
            background-color: transparent;
            border:0;
            font-family: 'Helvetica Now Display';
            font-weight: 300;
            color: white;
            outline:0;
            opacity: 0;
            &.animated {
            animation: fadeIn 1s forwards cubic-bezier(.7,0,0,1);
            }
        }
        .button {
            font-size: 6vw;
            background-color: transparent;
            border:0;
            font-family: 'Helvetica Now Display';
            font-weight: 300;
            color: white;
            outline:0;
            margin-top: 70px;
            display: flex;
            align-items: center;
            width: 100%;
            &.disapear {
                animation: fadeOut 1s forwards cubic-bezier(.7,0,0,1);
                }
            &:hover {
                color:$orange-color;
                .arrow {
                    .arrow-stroke {
                        width: 200px;
                    }
                }
            }
            .arrow {
                opacity: 0;
                margin-right: 35px;
                display: flex;
                width: auto;
                align-items: center;
                .arrow-stroke {
                    width: 100px;
                    margin-right: -90px;
                    height: 6px;
                    background-color: $orange-color;
                    transition: width 1s cubic-bezier(.7,0,0,1);
                    &.animated {
                        animation: expand-arrow 1s forwards cubic-bezier(.7,0,0,1);
                        }
                }
                &.animated {
                    animation: fadeIn 1s forwards cubic-bezier(.7,0,0,1);
                    
                    }
            }
            p {
                width: 0;
                overflow: hidden;
                display: inline-block;
                margin:0;
                &.animated {
            animation: fromLeft 1s forwards cubic-bezier(.7,0,0,1);

                }
            }
        }

    }
}
/* transitions vue */
.list-item {
    display: inline-block;
    margin-right: 10px;
  }
  .list-enter-active, .list-leave-active {
    transition: all 1s;
  }
  .list-enter, .list-leave-to /* .list-leave-active below version 2.1.8 */ {
    opacity: 0;
    transform: translateY(30px);
  }
  