/* vars */
$main: #2D2D2D; 
$alt:white;
$border-color: rgba(255,255,255,0.3);

/* fonts */
@font-face {
    font-family: 'Helvetica Now Display';
    src: local('Helvetica Now Display Bold'), local('HelveticaNowDisplay-Bold'),
        url('../fonts/HelveticaNowDisplay-Bold.woff2') format('woff2'),
        url('../fonts/HelveticaNowDisplay-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: local('Helvetica Now Display Light'), local('HelveticaNowDisplay-Light'),
        url('../fonts/HelveticaNowDisplay-Light.woff2') format('woff2'),
        url('../fonts/HelveticaNowDisplay-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: local('Helvetica Now Display Regular'), local('HelveticaNowDisplay-Regular'),
        url('../fonts/HelveticaNowDisplay-Regular.woff2') format('woff2'),
        url('../fonts/HelveticaNowDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

#app {
    padding: 0;
    margin:0;
    width: 100%;
    height: 100vh;
    .wrapper {
        height: 100vh;
        display: grid;
        grid-template-columns: repeat(40, 1fr);
        grid-template-rows: repeat(15, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        .titles { grid-area: 1 / 1 / 4 / 41; }
        .userList { grid-area: 4 / 32 / 15 / 41; }
        .messageList { grid-area: 4 / 1 / 13 / 32; }
        .messageBox { grid-area: 13 / 1 / 15 / 32; }
.isTyping { grid-area: 15 / 1 / 16 / 32; }
        }
}
html, body {
    background-color:$main;
    font-family: 'Helvetica Now Display';
    padding: 0;
    margin:0;
    height: 100vh;
    overflow-y: hidden;
    scroll-behavior: smooth;
    color:$alt;
}
.titles {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $border-color;
    padding: 0 48px;
    width: 100%;
    box-sizing: border-box;
    h1 {
        font-size: 6vw;
        font-weight: 300;
        color:$alt;
        margin:0;
    }
}
.isTyping {
    padding: 0 48px;
    display: flex;
    align-self: center;
    font-size: 12px;
    color: $border-color;
    font-weight: 300;
}

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
        .messageList {
            &.loading {
                opacity: 0;
            }
            overflow-y: scroll;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 0 48px;
            .message {
                margin-bottom: 30px;
                &:last-child {
                    margin-bottom: 0;
                }
                border-left:1px solid $alt;
                padding-left: 12px;
                max-width: 70%;
                &.fromMe {
                    align-self:flex-end;
                    border:0;
                    padding-left: 0;
                    padding-right: 12px;
                    border-right: 1px solid $alt;
                    margin-right: 20px;
                    text-align: right;
                    .userInfos {
                        display: flex;
                        flex-direction: row-reverse;
                        strong {
                            margin-left: 0;
                            margin-right: 12px;
                        }
                    }
                }

                &:first-child {
                    margin-top: 30px;
                }
                .userInfos {
                    display: flex;
                    align-items: center;
                    strong {
                        font-size: 15px;
                    }
                }
                img {
                    margin-top: 12px;
                }
                p {
                    font-weight: 300;
                    word-break: break-word;
                }
                .gif {
                    width: 25vw;
                }
            }
        }
        .messageBox {
            display: flex;
            margin:48px 48px 0 48px;

            .messageInput {
                position: relative;
                box-sizing: border-box;
                width: 100%;
            border: 1px solid $border-color;
               height: 100%;
                .formActions {
                    position: absolute;
                    right: 0;
                    top: 0;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    padding:12px;
                    box-sizing: border-box;
                    width: 30%;
                    svg {
                        width: 22px;
                        height: 22px;
                    }
                    button{
                        box-sizing: border-box;
                        padding:0;
                        margin:0;
                        border:0;
                        background-color: transparent;
                        outline: 0;
                    }
                }
                input {
                    word-break: break-word;
                    width: 75%;
                    height: 100%;
                    box-sizing: border-box;
                    border:none;
                    background-color: transparent;
                    outline: none;
                    resize: none;
                    padding:20px;
                    font-family: 'Helvetica Now Display';
                    color:$alt;
                    display: flex;
                    line-height: 10px;
                    background-color: transparent;
                }
                button {
                    max-height: 22px;
                    transition:opacity 0.4s;
                    cursor: pointer;
                        &:hover {
                            opacity: 0.7;
                        }
                }
                .emoji-handle {
                    margin-right: 12px;
                    max-height: 22px;
                }
                .emoji-picker {
                    position: absolute;
                    top: -225px;
                    right: -1px;
                    width: 200px;
                    height: 200px;
                    overflow-y: scroll;
                    background-color: $main;
                    padding:12px;
                    border:1px solid $border-color;
                    h5 {
                        width: 100%;
                    }
                    .emoji-groups {
                        width:100%;
                        display: flex;
                        flex-wrap: wrap;
                        padding-left: 24px;
                        box-sizing: border-box;
                    }
                    span {
                        padding:2px;
                        cursor: pointer;
                        transition:opacity 0.4s;
                        &:hover {
                            opacity: 0.7;
                        }
                    }
                }
                a {
                    max-height: 22px;
                    cursor: pointer;
                    transition:opacity 0.4s;
                        &:hover {
                            opacity: 0.7;
                        }
                }
                .gifWrapper {
                    max-height: 22px;
                }
                .gifFinder {
                    margin-right: 12px;
                }
                .gifModal {
                    position: absolute;
                    top: -349px;
                    right: -1px;
                    width: 300px;
                    height: 300px;
                    overflow-y: scroll;
                    background-color: $main;
                    padding:24px;
                    border:1px solid $border-color;
                    input {
                        border-bottom: 1px solid $alt;
                        width: 100%;
                        font-size: 15px !important;
                        padding-left: 0;
                    }
                    button {
                        margin-left: 12px;
                        background-color:$alt;
                        padding:12px;
                    }
                    .gifList {
                        display: flex;
                        justify-content: space-between;
                        flex-wrap: wrap;
                        img {
                            margin-top: 12px;
                            width:calc(50% - 6px);
                            height: auto;
                            cursor: pointer;
                            transition:opacity 0.2s;
                            &:hover {
                                opacity: 0.4;
                            }
                        }
                    }
                    .send {
                        position: absolute;
                        width: 100%;
                        background-color: #56c497;
                        color: white;
                        bottom: 0;
                        left: -12px;
                    }
                }
                .foodNearby {
                    position: absolute;
                    top: -400px;
                    right: -1px;
                    width: 50vw;
                    height: 400px;
                    overflow-y: scroll;
                    background-color: $main;
                    border:1px solid $border-color;
                    box-sizing: border-box;
                    padding: 12px;
                    .foodItem {
                        padding: 12px;
                        border-bottom: 1px solid $alt;
                        &:last-child {
                            border:0;
                        }
                    }
                }
                
            }
            
        }
        .isTyping {
            font-size: 10px;
        }
    
        .userList {
            overflow-y: scroll;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: flex-end;
            flex-direction: column-reverse;
            .user {
                padding: 24px 0 24px 24px;
                width: 100%;
                border-bottom: 1px solid $border-color;
                
                .userInfos {
                    display: flex;
                    align-items: center;
                    span {
                        margin-left: 12px;
                        font-size: 15px;
                    }
                }
               
            }
        }
.login {
    .loginForm {
        height: calc(100% - 120px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding:180px;
        box-sizing: border-box;
        input, button {
            font-size: 6vw;
            background-color: transparent;
            border:0;
            font-family: 'Helvetica Now Display';
            font-weight: 300;
            color: white;
            outline:0
        }
        button {
            margin-top: 70px;
        }

    }
}
/* transitions vue */
.list-item {
    display: inline-block;
    margin-right: 10px;
  }
  .list-enter-active, .list-leave-active {
    transition: all 1s;
  }
  .list-enter, .list-leave-to /* .list-leave-active below version 2.1.8 */ {
    opacity: 0;
    transform: translateY(30px);
  }
  